<mat-toolbar color="primary">
  
    <button mat-button routerLink="editor"><mat-icon> library_add </mat-icon></button>

  <button mat-button routerLink="favourites"><mat-icon> favorite </mat-icon></button>
  <span class="example-spacer"></span>
  <!-- <button mat-button [matMenuTriggerFor]="menu"><mat-icon> menu </mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="editor">Aggiungi un libro </button>
    <button mat-menu-item routerLink="home">Vai alla lista Completa </button>
  </mat-menu> -->
 
 
  <span routerLink="home" class="title">...Librar<span class="middle-brown">Y</span><span class="brown">our... </span></span>
 

  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" routerLink = "/login" *ngIf="!storage.isUserLoggedIn()" >
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" routerLink = "/register-user" *ngIf="!storage.isUserLoggedIn()">
    <mat-icon>person_add</mat-icon>
  </button>
  <button mat-icon-button class="example-icon favorite-icon" (click)="logout()" *ngIf="storage.isUserLoggedIn()">
    <mat-icon>logout</mat-icon>
  </button>
  <mat-slide-toggle (toggleChange)="changeTheme()" [checked]="!isLightTheme">
    {{!isLightTheme? 'dark':'light'}} </mat-slide-toggle>
</mat-toolbar>