.title {
  padding-top:24px ;
  color:white;
  font-family: 'La Belle Aurore', cursive;
  font-size: 60px;
 

  cursor: pointer;

}
.middle-brown{
  text-shadow: -2px 0 #6b2e00, 0 1px #ffffff, 2px 0 #ffffff, 0 -1px #ffffff;
  position: relative;
  z-index: 9999;
  
}

.example-spacer {
  flex: 1 1 auto;
}

mat-icon{
  color: #ffffff;
}

.brown {
  color: #6b2e00;
}

@media (max-width:500px){

  .title{
      font-size: 24px;
  }
  mat-icon{
    margin: 0 !important;
    padding: 0 !important;
    font-size: 12px !important;
}

button{
  margin: 0 !important;
    padding: 0 !important;
}
}