

<div *ngIf="[isEditing]" class="editor-container">
    <form [formGroup]="bookForm" class="form-container" >
        <div class="input-container">
            <label for="author">Autore:</label>
            <input type="text" id="author" formControlName="author" />
        </div>
        <div class="input-container">
            <label for="title">Titolo:</label>
            <input type="text" id="title" formControlName="title" />
        </div>
        <div class="input-container">
            <label for="cover">Copertina:</label>
            <input type="text" id="cover" formControlName="cover" />
        </div>
        <div class="input-container">
            <label for="description">Descrizione:</label>
            <textarea  id="description" formControlName="description"></textarea>
        </div>
        <div class="button-container">
            <button  mat-button (click)="saveBookEdited()">
                {{ isEditing ? 'Aggiorna Libro' : 'Salva Libro' }}
            </button>
            
            <button mat-button *ngIf="isEditing" routerLink="/home">Annulla</button>
        </div>
    </form>
</div>