.example-card {
    max-width: 400px;
}

body{height: 100%;}

.book-container {
    width: 100%;
  padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  

}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 600px;
    height: max-content;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 208, 169) !important;
    border-radius: 24px;
    padding:24px

}

.editor-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;

    height: 100vh;
}

input,
label {
    width: 100%;
    border-radius: 12px;
    font-size: larger;

}

label {
    font-family: 'Damion', cursive;
    font-size: larger;
    border-radius: 12px;
}

input {
    background-color: none !important;
    border: none;
    border-bottom: 0.5px solid black;
    padding-left: 4px;
    height: 30px;
}


.card {

    height: 500px;
    width: 500px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0;

}

button {
    color: rgb(0, 0, 0) !important;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.input-container{
    width: 80%;
}

img{
    width: 70%;
    object-fit: cover;
    border-radius: 40px;
}

textarea{
    width: 100%;
}