<div class="book-container" *ngIf="!isEditing">


    <mat-card class="card">
        <mat-card-header>

            <mat-card-title>{{ bookForm.get('title')?.value }}</mat-card-title>
            <mat-card-subtitle>{{ bookForm.get('author')?.value }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ bookForm.get('cover')?.value }}" alt="Copertina del libero {{bookForm.get('title')}}">
        <mat-card-content> 
            {{bookForm.get('description')?.value}}
        </mat-card-content>

        <mat-card-actions *ngIf="bookForm">
                        <button mat-button (click)="startEditing()">Modifica i Dati</button>
            <button (click)="bookStorageService.toggleFavourites(book)">
                <mat-icon *ngIf="!bookStorageService.isFavourite(book)">favorite</mat-icon>
                <mat-icon *ngIf="bookStorageService.isFavourite(book)">heart_broken</mat-icon>
              </button>

        </mat-card-actions>
    </mat-card>



</div>

<div *ngIf="isEditing" class="editor-container">
    <form [formGroup]="bookForm" class="form-container" >
        <div class="input-container">
            <label for="author">Autore:</label>
            <input type="text" id="author" formControlName="author" />
        </div>
        <div class="input-container">
            <label for="title">Titolo:</label>
            <input type="text" id="title" formControlName="title" />
        </div>
        <div class="input-container">
            <label for="cover">Copertina:</label>
            <input type="text" id="cover" formControlName="cover" />
        </div>
        <div class="input-container">
            <label for="description">Descrizione:</label>
            <textarea  id="description" formControlName="description"></textarea>
        </div>
        <div class="button-container">
            <button  mat-button (click)="saveBook()">
                {{ isEditing ? 'Aggiorna Libro' : 'Salva Libro' }}
            </button>
            
            <button mat-button *ngIf="isEditing" routerLink="/home">Annulla</button>
        </div>
    </form>
</div>