.login-container{
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
    height:100vh;
}

.login-window{
  margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    background-color:burlywood;
   border-radius: 20px;
}



.input-div{
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    font-family: 'Damion', cursive;
    text-transform: capitalize;
}

.password{
  display: flex;
  flex-direction: column;
}


