<div class="table-container">
    <div class="search-row">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Cerca per titolo o autore" class="search-input">
        <button class="search-button" (click)="onSearch()">Cerca
        </button>
    </div>
    <div class="sort-container">
        <button (click)="sortByAuthor('author')">Ordina per Autore</button>
        <button (click)="sortByTitle('title')">Ordina per titolo</button>
    </div>
    <div class="back" *ngIf="showBack">
        <button (click)="navigateToHome()">Indietro</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Author</th>
                <th>Title</th>
                <th> </th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr *ngFor="let book of books">
                <td (click)="navigateToBookDetails(book.id)">{{ book.id }}</td>

                <td (click)="navigateToBookDetails(book.id)">{{ book.author }}</td>
                <td (click)="navigateToBookDetails(book.id)">{{ book.title }}</td>
                <td class="icon-trash" (click)="deleteBook(book.id)"><mat-icon>delete</mat-icon></td>
            </tr>
        </tbody>
    </table>
</div>