<div class="table-container">
    <div class="button-row">
        
        <div class="search-container"> 
        <input type="text" [(ngModel)]="searchTerm" placeholder="Cerca per titolo o autore" class="search-input">
        <button class="search-button" (click)="onSearch()">Cerca
        </button></div>
        <!-- <div class="sort-container">
            <button (click)="sortBooksBy('author')">Ordina per Autore</button>   
            <button (click)="sortBooksBy('title')">Ordina per Titolo</button>
        </div> -->
        <div class="sort-container">
            <mat-form-field appearance="fill">
              <mat-label>Ordina per</mat-label>
              <mat-select [(ngModel)]="selectedSortingOption">
                <mat-option (click)="sortBooksBy('author')" value="author">Autore</mat-option>
                <mat-option (click)="sortBooksBy('title')" value="title">Titolo</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    </div>
    

    <div class="back" *ngIf="showBack">
        <button (click)="navigateToHome()">Indietro</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Author</th>
                <th>Title</th>
                <th> </th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr *ngFor="let book of books">
                <td (click)="navigateToBookDetails(book.id)">{{ book.id }}</td>
                <td (click)="navigateToBookDetails(book.id)">{{ book.author }}</td>
                <td (click)="navigateToBookDetails(book.id)">{{ book.title }}</td>
                <td class="icon-trash" (click)="deleteBook(book.id)"><mat-icon>delete</mat-icon></td>
            </tr>
        </tbody>
    </table>
</div>