body{
    height: 100%;
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table-container {
    position: absolute;
    top: 60px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

table {
    margin-top: 8px;
    width: 80%;
    background-color: rgba(253, 225, 187, 0.797);
}

th,
tr,
td {
    font-size: 22px;
    height: 20px;
    padding: 8px;
    text-align: center;

}

th {
    font-size: 34px;
    text-transform: capitalize;
    background-color: khaki;
    font-family: 'Damion', cursive;
}

tr:hover {
    background-color: #f7c258;
    cursor: pointer;
}

.icon-trash:hover {
    color: red;
}

.search-input {
    width: 50%;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    border-radius: 20px 0 0 20px;
    border: none;
}

.table-body tr:nth-child(even) {
    background-color: #ffe5b1;
}

.table-body tr:nth-child(even):hover {
    background-color: #f7c258;
}


input {
    outline: none;
    padding-left: 16px;
}

.search-button {
    border-radius: 0 20px 20px 0;
    border: none;
    background-color: #f7c258;
    height: 41px;
    width: 54px;
}

.search-row {
    padding-top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

tbody {
    font-family: 'Goudy Bookletter 1911', serif;

}