
<div class="table-container"> 
 

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td [routerLink]="['/editor', book.id]">
                {{book.id}}

            </td>
            <td [routerLink]="['/editor', book.id]">{{ book.author }}</td>
            <td [routerLink]="['/editor', book.id]">{{ book.title }}</td>
            <td class="icon-trash" (click)="deleteBook(book.id)"><mat-icon >delete</mat-icon> </td>
        </tr>
    </tbody>
</table>
</div>




