@import url('https://fonts.googleapis.com/css2?family=Norican&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Goudy+Bookletter+1911&family=La+Belle+Aurore&display=swap');
@import url('C:\Users\ariel\Documents\Front-End-Projects\dgs-book\src\app\theme-change.directive.ts');
html,
body {
    height: 100vh;

}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button,
a {
    cursor: pointer;
}

mat-toolbar {
    // background-color: rgba(222, 184, 135, 0.84) !important;
    margin-bottom: 40px;
    height: 60px;
}

a {
    text-decoration: none;
    color: initial;
}

mat-card {
   background-color: rgb(237, 208, 169) ;
}

mat-select,mat-label,mat-form-field{
    background-color: transparent !important;
    color: white !important;
  
}
.mat-mdc-form-field-subscript-wrapper{
    height: 4px;
}

.mat-mdc-text-field-wrapper{
    background-color: transparent !important;
}

.mat-typography {
    background-image: url(./assets/bg-book.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

input,
textarea {
    outline: none;
    padding-left: 12px;
}

.mat-mdc-select-trigger{
    border-bottom: 0.5px solid black;
    color: black;
}