@import url('https://fonts.googleapis.com/css2?family=Norican&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
html, body { height: 100%; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button,a{cursor: pointer;}
mat-toolbar{
    background-color: burlywood !important;
  
    margin-bottom: 40px;
    height: 60px;
}



a{
    text-decoration: none;
    color: initial;
}

mat-card{
    background-color: rgb(237, 208, 169) !important;
}

.mat-typography{
    background-image: url(./assets/bg-book.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
   
}